/* ******************************************
    Here are the all custom CSS
******************************************* */

/******************** importe google font cdn *********************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

 :root {
    --primary-color: #ff5400;
    --secondary-color: #131313;
    --primary-font-family: "Mulish", sans-serif;
    --secondary-font-family: "Inter", sans-serif;
    --primary-font-weight: 800;
}

 /* ***************************
        Header styles
 **************************** */


 /* nav style */

 /* logo styles */
 .logo-area {
    display: flex;
    align-items: center;
    gap: 1rem;
 }

 .logo-img {
    width: 48px;
    height: 56px;
 }

 .logo-text {
    font-size: 2.25rem;
    font-weight: var(--primary-font-weight);
 }
 .dark-text-color {
    color: var(--secondary-color);
 }
 
 .primary-text-color{
    color: var(--primary-color);
 }