/* ******************************************
    Here are the all custom CSS
******************************************* */

/******************** importe google font cdn *********************/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

 :root {
    --primary-color: #ff5400;
    --secondary-color: #131313;
    --primary-text-color: rgba(19, 19, 24, 0.70);
    --secondary-text-color: #5A5A5D;
    --text-white: #fff;
    --primary-font-size: 1rem;
    --primary-font-family: "Mulish", sans-serif;
    --secondary-font-family: "Inter", sans-serif;
    --primary-font-weight: 800;
}

.container {
    width: 1170px;
}

.section-title {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: var(--primary-font-weight);
    margin-bottom: 1.5rem;
}
.section-description {
    font-size: var(--primary-font-size);
    line-height: 1.625rem;
}
.description-text-color {
    color: var(--primary-text-color);
}
.description-color {
    color: var(--secondary-text-color);
}
.primary-btn {
    border: none;
    color: var(--text-white);
    font-family: var(--primary-font-family);
    font-size: 1.25rem;
    font-weight: var(--primary-font-weight);
    padding: 14px 34px;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 32px;
}
.text-center {
    text-align: center;
}
 /* ***************************
        Header styles
 **************************** */
#header-area {
    display: flex;
    justify-content: center;
    font-family: var(--primary-font-family);
}

 /* nav style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 53px 0 50px;
}
 /* logo styles */
 .logo-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 .logo-img {
    width: 48px;
    height: 56px;
 }
 .logo-text {
    font-size: 2.25rem;
    font-weight: var(--primary-font-weight);
 }
 .dark-text {
    color: var(--secondary-color);
 }
 .primary-text-color{
    color: var(--primary-color);
 }

 /* menu styles */
 .menu-bar {
    display: flex;
    gap: 2.75rem;
 }
 .menu-bar > li {
    list-style: none;
 }
 #active-link {
     color: var(--primary-color);
     font-weight: var(--primary-font-weight);
  }
 .menu-bar > li > a {
    color: #424242;
    font-size: 1.125rem;
    text-decoration: none;
 }
 .menu-bar > li > a:hover {
    color: var(--primary-color);
 }

 /* hamburger icon*/
 .hamburger-icon {
    display: none;
 }
.hamburger-icon > i {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

/* banner area styles */
.banner-area {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/banner-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 16px;
    padding: 106px 0;
    margin-bottom: 100px;
}

.banner-title {
    color: var(--text-white);
    font-size: 4rem;
    font-weight: var(--primary-font-weight);
}
.banner-description {
    color: var(--text-white);
    padding: 24px 247px;
}
.explore-input-area {
    display: flex;
    justify-content: center;
    margin-left: 162px;
    margin-right: 144px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
}
.input-field-area {
    margin-right: 24px;
}
.input-field-area > input[type="text"] {
    color: rgba(19, 19, 24, 0.50);
    border: none;
    padding: 16px;
    border-radius: 8px;
}
.input-field-area > i {
    color: rgb(19, 19, 19, .7);
    margin-left: -30px;
}
.extra-margin {
    display: inline-block;
    margin-right: 34px;
}
.find-now-btn {
    color: var(--text-white);
    font-weight: 700;
    background: var(--primary-color);
    padding: 16px 34px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* ************************************
        Main Section styles
************************************* */
#main-section {
    display: flex;
    justify-content: center;
    font-family: var(--primary-font-family);
}


/* Our Popular tour styles */
.our-popular-tour-area {
    display: flex;
    gap: 3.25rem;
}
.our-popular-tour-text {
    max-width: 577px;
}
.our-popular-tour-list {
    padding: 1.5rem;
}
.our-popular-tour-list > li:nth-child(-n+2) {
    margin-bottom: 1rem;
}

/* Choose your destination styles */
.choose-your-destination-area {
    padding-top: 100px;
}
.destination-description {
    color: var(--primary-text-color);
    max-width: 643px;
    margin: 0 auto;
    padding-bottom: 24px;
}
.destinations {
    padding-top: 24px;
}
.destination-container {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.destination-three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}

/* maldives container styles */
.maldives-container {
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/maldives.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/**********************************************************
         common style for destination content 
***********************************************************/

.destination-content-styles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-white);
    font-size: 28px;
}

/* indonesia container styles */
.indonesia-container {
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/indonesia.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* srilanks container styles */
.srilanka-container {
    width: 374px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/srilanka.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* north america container styles */
.north-america-container {
    width: 474px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/north-america.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* kashmir container styles */
.kashmir-container {
    width: 274px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/kashmir.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* bangladesh container styles */
.bangladesh-container {
    width: 473px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/bangladesh.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Bandarban container styles */
.bandarban-container {
    width: 673px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/bandarban.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

 /* Why choose  us styles */
 .why-choose-us-area {
    padding: 86px 0 100px;
}
.why-choose-us-area > .section-description {
    max-width: 643px;
    margin: 0 auto;
}
.row {
    display: flex;
    gap: 1.5rem;
    margin-top: 48px;
}
.half-column {
    padding: 2rem;
    border-radius: 16px;
}
.half-column > img {
    width: 64px;
    height: 64px;
}
.half-column > .section-description {
    color: #5A5A5D;
}
.column-title {
    font-size: 1.5rem;
    font-weight: var(--primary-font-weight);
}
.first-column {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.second-column {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.single-column-container{
    display: flex;
    justify-content: center;
}
.single-column {
    width: 573px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 1.5rem;
}

/* Newsletter Styles */
.newsletter-area {
    display: flex;
    gap: 24px;
}
.newsletter-text {
    width: 474px;
    border: 1px solid var(--primary-color);
    padding: 40px;
    border-radius: 16px;
}
.newsletter-text > .section-description {
    padding: 16px 0 24px;
}
.newsletter-text > input[type="text"] {
    border: none;
    color: rgba(19, 19, 24, 0.30);
    padding: 16px 20px;
    width: 90%;
    margin-bottom: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.newsletter-horizontal-line {
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin-bottom: 24px;
}
.newsletter-btn {
    width: 82%;
}

.newsletter-img {
    position: relative;
}
.discount-tag {
    color: var(--text-white);
    background: var(--primary-color);
    padding: 35px 56px;
    border-radius: 16px;
    transform: rotate(-25deg);
    position: absolute;
    right: 10px;
    bottom: 84px;
}
.discount-tag > a {
    color: var(--text-white);
    text-decoration: none;
    font-size: 1.5rem;
}
.discount-title {
    font-size: 2rem;
}



/* footer styles */
#footer-area {
    display: flex;
    justify-content: center;
    padding: 110px 0;
}
.footer-content {
    font-family: var(--primary-font-family);
}
   
.footer-content > .section-description {
    color: #5a5a5d;
    margin-top: 15px;
    margin-bottom: 2rem;
}

.social-icon {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.social-icon > i {
    color: var(--secondary-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.horizontal-line {
    border: 1px solid rgba(19, 19, 24, 0.10);
    max-width: 872px;
    margin: 50px auto;
}
.copyright {
    font-family: var(--secondary-font-family);
}
 /**************************************
        Media Query for Small Devices
 ***************************************/
 @media screen and (max-width: 600px) {

    /* global styles */
    .section-title, .column-title {
        font-size: 20px;
    }

    /* header styles */
    #header-area {
        padding: 0 20px;
    }

    /* navbar */
    .navbar {
        padding: 20px 0;
    }

    /* logo styles */
    .logo-img {
        width: 1.795rem;
        height: 2.095rem;
    }
    .logo-text {
        font-size: 1.346rem;
    }
    .menu-bar {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }

    /* banner styles */
    .banner-area {
        padding: 32px 0;
        margin-bottom: 0;
    }
    .banner-title {
        font-size: 22px;
    }
    .banner-description {
        font-size: 14px;
        padding: 16px;
        line-height: 21px;
    }
    .explore-input-area {
        flex-direction: column;
        gap: 24px;
    }
    .find-now-btn {
        margin-right: 22px;
    }

    /* Our Popular tour */
    .our-popular-tour-area {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 24px;
    }

    /* choose your destination styles */
    .choose-your-destination-area {
        padding: 0 20px;
    }
    .choose-your-destination-area > .section-title {
        margin-bottom: 0;
    }
    .destination-description {
        padding: 16px 0;
    }
    .destinations {
        padding-top: 0;
    }
    .destination-container {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }
    .destination-container > div, .destination-three-column > div {
        width: 100%;
    }
    .destination-three-column {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    /* why choose use styles */
    .why-choose-us-area {
        padding: 0 20px;
    }
    .row {
        flex-direction: column;
        margin-top: 24px;
    }
    .column-title {
        padding: 16px 0;
    }
    .single-column {
        width: 100%;
    }

    /* newsletter styles */
    .newsletter-area {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 20px;
    }
    .newsletter-text {
        width: 90%;
        padding: 24px;
    }
    .newsletter-img > img {
        width: 100%;
    }
    .discount-tag {
        bottom: 54px;
    }
    .discount-tag > a {
        font-size: 15px;
    }
    .discount-title {
        font-size: 21px;
    }

    /* footer styles */
    .horizontal-line {
        margin: 1.5rem 0;
    }
    #footer-area {
        padding: 20px;
    }
 }

 /**************************************
        Media Query for Medium Devices
 ***************************************/
 @media screen and (min-width: 601px) and (max-width: 992px) {
    #header-area {
        padding: 0 20px;
    }

    /* logo styles */
    .logo-img {
        width: 1.795rem;
        height: 2.095rem;
    }
    .logo-text {
        font-size: 1.346rem;
    }

    /* menu styles */
    .menu-bar {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }
    .hamburger-icon > i {
        font-size: 2rem;
    }

    /* banner styles */
    .banner-area {
        padding: 32px 0;
        margin-bottom: 0;
    }
    .banner-title {
        font-size: 22px;
    }
    .banner-description {
        font-size: 14px;
        padding: 16px;
        line-height: 21px;
    }
    .explore-input-area {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .find-now-btn {
        width: 202px;
        margin: 0 auto;
        padding-right: 10px;
        position: relative;
        right: 10px;
    }

    /* Our Popular tour */
     .our-popular-tour-area {
        flex-direction: column;
        padding: 1.25rem;
        gap: 1.5rem;
    }
    .our-popular-img > img {
        width: 100%;
    }

    /* choose your destination styles */
    .choose-your-destination-area {
        padding: 0 20px;
    }
    .choose-your-destination-area > .section-title {
        margin-bottom: 0;
    }
    .destination-description {
        padding: 16px 0;
    }
    .destinations {
        padding-top: 0;
    }
    .destination-container {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }
    .destination-container > div, .destination-three-column > div {
        width: 100%;
    }
    .destination-three-column {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    /* why choose us styles */
    .why-choose-us-area {
        padding: 4px 20px;
    }

    /* Newsletter styles */
    .newsletter-area {
        flex-direction: column;
        align-items: center;
        padding: 24px 20px;
        gap: 16px;
    }
    .discount-tag {
        bottom: 70px;
    }
    /* footer styles */
    .horizontal-line {
        margin: 1.5rem auto;
    }
    #footer-area {
        padding: 34px 20px;
    }
 }

 /**************************************
        Media Query for Large Device
 ***************************************/
@media screen and (min-width: 993px) and (max-width: 1200px) {
    #header-area {
        padding: 0 20px;
    }

    /* banner styles */
    .banner-area {
        padding: 32px 0;
    }
    .explore-input-area {
        margin: 0 40px;
    }
    /* Our Popular tour */
    .our-popular-tour-area {
        padding: 0 20px;
    }

    /* choose your destination styles */
    .choose-your-destination-area {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .destination-container > div, .destination-three-column > div {
        width: 100%;
    }

    .destination-three-column {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

     /* why choose us styles */
     .why-choose-us-area {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* newsletter styles */
    .newsletter-area {
        padding: 0 20px;
    }
    .newsletter-text {
        padding: 20px;
    }
    .discount-tag {
        bottom: 63px;
    }
    .discount-tag > a {
        font-size: 18px;
    }
    .discount-title {
        font-size: 1.5rem;
    }
    .newsletter-img > img {
        width: 100%;
    }

    /* footer styles */
    #footer-area {
        padding: 20px;
    }
    .horizontal-line {
        margin: 1.5rem auto;
    }
}